doctype html
html(lang='en')
  head
    include header_with_tables.pug
    title Allianz ICS
    - var btnType = 'info'
    - var btnSize = 'sm'
  body
    #wrapper
      // Navigation
      include navbar.pug
      include modal.pug
      #page-wrapper
        .row
          .col-lg-12
            h1.page-header Owning bills
          // /.col-lg-12
        // /.row
        .row
          .col-lg-12
            .panel.panel-default
              .panel-heading
                | Unauthorized bills
              // /.panel-heading
              .panel-body
                table#dataTables-auth.table.table-striped.table-bordered.table-hover(width='100%')
                  thead
                    tr
                      th Bill #
                      th Due date
                      th Bill amount
                      th HOE
                      th Action                  
                      th Details
                  tbody
                    each auth in authList
                      tr
                        td
                          - var url = auth.billId
                          a(href="/ics/billhist/"+url)  #{auth.billId}
                        td #{auth.dueDate}
                        td #{auth.totalOutstanding}
                        td #{auth.hoe}
                        td
                          if (user.role == "USER")
                            buttonbtn.btn.btn-primary(type="button" ,class="disabled") Auth
                          else
                            buttonbtn.btn.btn-primary(type="button" , onclick="onClickAuth(\'"+auth.billId+"\');") Auth
                        td
                          a(class='btn btn-' + btnType + ' btn-' + btnSize href='/ics/billhist/'+ url) View Details
                // /.table-responsive
              // /.panel-body
            // /.panel
          // /.col-lg-12
        .row
          .col-lg-12
            .panel.panel-default
              .panel-heading
                | Authorized bills
              // /.panel-heading
              .panel-body
                table#dataTables-unauth.table.table-striped.table-bordered.table-hover(width='100%')
                  thead
                    tr
                      th Select
                      th Bill #
                      th Due date
                      th Bill amount
                      th HOE
                      th Authorized by
                      th Details
                  tbody
                    each pending in pendingList
                      tr
                        td
                          input(type='checkbox')
                        td
                          - var url = pending.billId
                          a(href="/ics/billhist/"+url) #{pending.billId}
                        td #{pending.dueDate}
                        td #{pending.totalOutstanding}
                        td #{pending.hoe}
                        td #{pending.authorizor}
                        td
                           a(class='btn btn-' + btnType + ' btn-' + btnSize href='/ics/billhist/'+ url) View Details
                button.btn.btn-primary(type='button', onclick="calculatePenality();") Pay
                // /.table-responsive
              // /.panel-body
            // /.panel
          // /.col-lg-12
        // /.row
      // /#page-wrapper
    // /#wrapper
    // jQuery
    include scripts_with_tables.pug
    script.
      $(document).ready(function () {
      $('#dataTables-example').DataTable({
      responsive: true
      });
      });

script(src='../../js/obills.js')
